body {
    margin: 0;
    font-family: "Oswald",sans-serif;
    font: 16px;
    background-color: #070760;
    color: whitesmoke;
}
header{
    text-align: center;
    margin-bottom: 1%;
}
header img {
    width: 50%;
}
nav {
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;
}
nav a{
    
    border: 4px groove whitesmoke;
    padding: 1%;
    border-color:10px;
    background-color: #010132;
    color: whitesmoke;
    border-radius: 10px;
    text-decoration: none;
}
.my {
    color: #010132;
    background-color: whitesmoke;
}

footer {
    padding: 4%;
    background-color: whitesmoke;
    color: #070760;
}
footer h2 {
    text-align: center;
}
footer div {
    display: flex;
    justify-content: space-between;
}
.myname {
    color: #010132;
    font-style: italic;
    font-weight: 900;
}
h2 {text-align: center;}
main{
    width: 100%;
}
div{
    
    display: flex;
    justify-content:space-around ;
    margin-bottom: 2%;
   
}
.img10{
    width: 40%;
    margin-left: 30%;

}
